.course-list {
    @extend %clearfix;
    margin-top: 20px;
    > ul {
        float: left;
        width: 25%;
        margin-bottom: 30px;
        text-align: center;
        .opt {
            .el-button {
                padding: 0;
            }
        }
        img {
            transition: all 0.5s ease;
        }
        > div {
            width: 250px;
            margin: 0 auto;
            text-align: left;
        }
        &.can-apply {
            cursor: pointer;
            &:hover {
                img {
                    opacity: 0.6;
                }
            }
        }
    }
    @media screen and (min-width: 1920px) {  
        > ul {
            width: 20%;
        }
    }
    .title {
        font-size: 16px;
        margin: 10px 0;
    }
}

.course-warning {
    color: #F56C6C;
    margin: 0 0 20px 58px;

    h3 {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 5px;
        > span {
            margin-right: 8px;
        }
    }
    li {
        list-style: disc;
        margin-left: 20px;
    }
}

.upload-btn {
    vertical-align: middle;
    .add-btn-link {
        margin: 0;
        span {
            font-size: 18px;
            margin-right: 5px;
        }
    }
    .cover-url {
        background-size: cover;
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        position: relative;
        line-height: 60px;
        a {
            background-color: #fff;
            border-radius: 3px;
            font-size: 12px;
            padding: 0 3px;
        }
    }
}

.apply-course-dialog {
    .detail-from {
        .el-form-item {
            margin-bottom: 10px;
        }
    }
    h2 {
        font-style: 16px;
        color: $color-blue;
        margin-bottom: 20px;
        &.apply-title {
            border-top: 1px solid #DADADA;
            padding-top: 20px;
        }
    }

}