.el-loading-mask {
    background-color: $loading-bg-color;
    z-index: 9999;
}

.el-table {
    border-radius: 4px;
    td,
    th {
        border-color: $border-color-base;
        .cell {
            font-size: $font-size-large;
            color: $color-gray;
            white-space: nowrap;
            .el-radio__inner,
            .el-checkbox__inner {
                width: 16px;
                height: 16px;
            }
            .el-checkbox__inner::after {
                top: 2px;
                left: 5px;
            }
            .svg-icon {
                vertical-align: middle;
            }
            span {
                vertical-align: middle;
            }
        }
    }
    th {
        // background-color: $table-header-bg-color;
        // div {
        //     background-color: $table-header-bg-color;
        // }
        .cell {
            color: $color-gray-dark;
            font-weight: normal;
        }
    }
    .el-table__body {
        tr:hover,
        .hover-row {
            td {
                background-color: $color-white;
            }
        }
        .el-table__expanded-cell {
            // 去掉tr底部阴影
            box-shadow: none;
            background-color: $color-white;
            &:hover {
                background-color: $color-white !important;
            }
        }
        .selected-row {
            background-color: #f0f8ff;
            &:hover {
                > td {
                    background-color: #f0f8ff;
                }
            }
            & + tr:not(.el-table__row) {
                .el-table__expanded-cell {
                    background-color: #f0f8ff;
                    &:hover {
                        background-color: #f0f8ff !important;
                    }
                }
            }
        }
        .current-row {
            td {
                background-color: #f7fbff;
            }
            &:hover,
            &.hover-row {
                > td {
                    background-color: #f7fbff;
                }
            }
        }
        .btn-group {
            padding: 0 10px;
            a {
                margin-right: 10px;
                &.forbidden {
                    color: #F56C6C;
                }
                &.enable {
                    color: #F9BC49;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
    .el-table__fixed-right-patch {
        background-color: $table-header-bg-color;
    }
}

.el-button {
    &.danger {
        color: #F56C6C;
        &:hover {
            color: darken(#F56C6C, 10%);
        }
    }
}

.el-pagination:after {
    clear: none;
}

.el-form-item {
    &__label {
        word-break: break-all;
        color: #5E6D82;
    }
    &__content {
        word-break: break-all;
    }
}
.detail-from {
    .el-form-item {
        &__label {
            color: $color-gray-light;
        }
        &__content {
            color: $color-gray-dark;
        }
    } 
}

.el-checkbox .el-checkbox__label,
.el-radio .el-radio__label {
    padding-left: 1px;
}

.el-tabs__nav-wrap {
    padding: 0 20px;
    &::after {
        height: 1px;
        background-color: $border-color-base;
    }
    .el-tabs__item {
        padding: 0 15px;
        text-align: center;
        color: $tab-text-color;
        font-size: $font-size-large;
        height: 50px;
        line-height: 50px;
    }
}

.el-dialog {
    box-shadow: none;
    border-radius: 4px;
    .el-dialog__header {
        padding: $dialog-header-padding;
        border-radius: 4px 4px 0 0;
        height: 56px;
        box-sizing: border-box;
        border-bottom: 1px solid #E0E6ED;
        .el-dialog__title {
            font-weight: bold;
            font-size: 16px;
        }
        .el-dialog__headerbtn {
            top: 17px;
        }
        .el-icon-close {
            color: #C0CCDA;
            font-size: 24px;
            &:hover {
                color: darken(#C0CCDA, 10%);
            }
        }
    }
    .el-dialog__body {
        padding: 30px 50px;
        font-size: $font-size-large;
    }
    .el-dialog__footer {
       border-top: 1px solid #E0E6ED;
       padding-top: 15px;
    }
}

.el-button {
    & + .el-button {
        margin-left: 5px;
    }
    &--default {
        color: $btn-default-text-color;
        &.el-button--primary {
            color: $btn-primary-text-color;
        }
    }
    &--text {
        color: $color-blue;
    }

    [class*=el-icon-] + span {
        margin-left: 0;
    }
}

.alert-dialog {
    .el-button--default {
        &:first-of-type {
            display: none;
        }
    }
}

.el-message {
    // 解决场景：el-dialog中操作生成el-message, el-message位于el-dialog的浮层下
    z-index: 3005 !important;

    align-items: initial;
    min-width: auto;
    padding: $message-padding;
    background-color: $color-white;
    border: none;
    border: 1px solid #dfdfdf;
    &.multi-message {
        max-width: 340px;
    }
    .el-message__icon {
        font-size: 24px;
    }
    .el-message__content {
        line-height: 24px;
        color: $text-color-dark;
        > span {
            display: block;
            margin-top: 1px;
            font-size: $font-size-small;
            font-weight: normal;
            line-height: 18px;
            color: $text-color-light;
        }
    }
}
.el-message-box {
    .el-message-box__content {
        color: $text-color-dark;
    }
    .el-message-box__btns {
        .el-button {
            font-size: $font-size-large;
        }
    }
}

.el-upload-list--picture-card {
    .el-upload-list__item {
        width: 100px;
        height: 100px;
    }
}
.el-upload--picture-card {
    width: 100px;
    height: 100px;
    line-height: 100px;
    > i {
        font-size: 30px;
        color: $text-color-base;
    }
}

.el-tag {
    &.el-tag--gray {
        background-color: $tag-default-bg-color;
        border-color: $tag-default-border-color;
        color: $tag-default-text-color;
    }
    &.el-tag--warning {
        background-color: $tag-warning-bg-color;
        border-color: $tag-warning-border-color;
    }
}

.el-popover {
    background: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    padding: 5px 15px;
    border: 0;
}

// 强制tooltip的内容换行
.el-tooltip__popper {
    max-width: 20em;
    word-break: break-all;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .el-table th>.cell {
        max-width: 150px;
    }
}
.el-time-range-picker__cell {
    width: 49%;
}

.el-table {
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    border-bottom: 0;
    td,
    th {
        height: 46px;
        padding: 0;
        border-color: $border-color-base;
        .cell {
            padding: $table-cell-padding;
            font-size: $font-size-base;
            color: $text-color-dark;
            .el-radio__inner,
            .el-checkbox__inner {
                width: 16px;
                height: 16px;
            }
            .el-checkbox__inner::after {
                top: 2px;
                left: 5px;
            }
        }
    }
    th {
        background-color: #E5E9F2;;
        div {
            background-color:#E5E9F2;
        }
    }
    td {
        .btn-group {
            .svg-icon {
                margin-right: 10px;
                cursor: pointer;
                color: #99A9BF;
                &:hover {
                    color: #20A0FF;
                }
            }
        }
    }
    .el-table__body {
        tr:hover,
        .hover-row {
            td {
                background-color: $color-white;
            }
        }
        .el-table__expanded-cell {
            // 去掉tr底部阴影
            box-shadow: none;
            background-color: $color-white;
            &:hover {
                background-color: $color-white !important;
            }
        }
        .selected-row {
            background-color: #f0f8ff;
            &:hover {
                > td {
                    background-color: #f0f8ff;
                }
            }
            & + tr:not(.el-table__row) {
                .el-table__expanded-cell {
                    background-color: #f0f8ff;
                    &:hover {
                        background-color: #f0f8ff !important;
                    }
                }
            }
        }
        .current-row {
            td {
                background-color: #f7fbff;
            }
            &:hover,
            &.hover-row {
                > td {
                    background-color: #f7fbff;
                }
            }
        }
    }
    .el-table__fixed-right-patch {
        background-color: $table-header-bg-color;
    }
}

.el-date-editor .el-range-input {
    width: 35%;
}
