/**
 * @file global css样式文件
 * @author chenwen(chenwen@baijiahulian.com)
 */

html,
body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $font-family;
    background-color: $body-bg-color;
    color: $text-color-dark;
    font-size: $font-size-large;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    // 避免使用system-ui默认字体
    input, select, textarea, button, pre {
        font-family: $font-family;
    }

    input,
    textarea {
        @include placeholder($color: $input-placeholder-text-color);
    }
}

// 标题统一样式
$headings: (h2: $font-size-large, h3: $font-size-base);
@each $header, $size in $headings {
    #{$header} {
        @include line-height($size);
    }
}
h1 {
    font-size: $font-size-large;
    line-height: 30px;
    font-weight: normal;
}

ul {
    li {
        list-style: none;
    }
}

a {
    cursor: pointer;
    color: $link-color;
    text-decoration: none;
    font-weight: normal;
}

textarea {
    overflow: auto;
 }

// 垂直对齐
.vertical-middle,
.middle {
    vertical-align: middle;
    display: inline-block;
}

// table无数据时统一样式
.none-list {
    text-align: center;
    padding: 3rem;
    color: $text-color-light;
    min-width: 98px;
    min-height: 98px;
    &:before {
        display: block;
        content: '';
        width: 98px;
        height: 98px;
        background: url('assets/img/none-data-bg.png') no-repeat;
        background-size: contain;
        margin: 30px auto;
    }
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: $btn-padding-base;
    text-align: center;
    font-size: $font-size-large;
    color: $text-color-dark;
    line-height: 1;
    border: 1px solid $btn-default-border-color;
    border-radius: $border-radius-base;
    background-color: $btn-default-bg-color;
    outline: none;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
    &-disable {
        background-color: $btn-disable-bg-color;
        border-color: $btn-disable-border-color;
        color: $btn-disable-text-color;
        cursor: not-allowed;
    }
    &-disable:hover {
        opacity: 1;
    }
    &-blue-light {
        background-color: $btn-plain-primary-bg-color;
        color: $btn-plain-primary-text-color;
        border-color: $btn-plain-primary-border-color;
        &:hover {
            border-color: $btn-plain-primary-hover-border-color;
            color: $btn-plain-primary-hover-text-color;
        }
    }
    &-primary {
        background-color: $btn-primary-bg-color;
        border-color: $btn-primary-border-color;
        color: $btn-primary-text-color;
    }

    & + .btn {
        margin-left: 6px;
    }
}
.clearfix {
    @include clearfix;
}

.clickable-text {
    color: $text-color-base;
    cursor: pointer;
    &:hover {
        color: $link-hover-color;
    }
    &-blue {
        color: $link-color;
    }
}
.text {
    &-success {
        color: $color-success;
    }
    &-danger {
        color: $color-danger;
    }
    &-gray-light {
        color: $color-gray-light;
    }
    &-light-color {
        color: $text-color-light;
    }
    &-red {
        color: $color-red;
    }
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

pre {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.confirm-message-box {
    padding-bottom: 0;
    .el-message-box__header {
        display: none;
    }
    .el-message-box__content {
        padding: 30px;
        .el-message-box__status {
            top: auto;
            transform: none;
        }
        .el-message-box__message {
            p {
                &:first-child {
                    color: $text-color-dark;
                    font-weight: bold;
                }
                &:last-child {
                    color: $text-color-light;
                    font-size: $font-size-small;
                    margin-top: -1px;
                }
            }
        }
    }
    .el-message-box__btns {
        padding: 10px 30px 20px;
        button {
            font-size: $font-size-large;
        }
    }
}