

@import './element-variables';
@import './variables';
@import './mixin';
@import './extends';
@import './elementTheme';
@import './global';
@import './extends';

html {
    height: 100%;
}
body {
    background: url('assets/img/login1.jpg') no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 580px;
    box-sizing: border-box;
    padding: 0 130px 34px 130px;
    opacity: 0.95;
    background: #FFFFFF;
    border: 1px solid #D3DCE6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    .el-input__prefix {
        .svg-icon {
            vertical-align: middle;
        }
    }
    .el-card {
        opacity: 0.95;
        background: #FFFFFF;
        border: 1px solid #D3DCE6;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
        border-radius: 10px;
    }
    h1 {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: normal;
    }
    .logo {
        margin: 75px 0 78px 0;
        img {
            margin-bottom: 15px;
        }
        li {
            list-style: none;
            text-align: center;
            font-size: 26px;
            color: #1F2D3D;
            letter-spacing: 0;
            line-height: 16px;
        }
    }
    .login-btn {
        margin-top: 20px;
    }
}