/**
 * @file main css样式文件
 */

@import './variables';
@import './mixin';
@import './extends';
@import './elementTheme';
@import './global';
@import './extends';
@import './vueTransitions';
@import './avatar';

@import './sidebar';
@import './components/circleProcess';
@import './components/breadcrumbNav';
@import './components/customerDetail';
@import './components/materialDetail';
@import './components/batchImport';
@import './components/timetable';
@import './components/backtop';
@import './components/loadingBar';
@import './components/timeline';

@import '../../modules/equipment/style';
@import '../../modules/course/style';
 
 .main {
     box-sizing: border-box;
     min-width: 1265px;
     height: 100%;
     padding: 50px 0 0 180px;
     > div {
        padding: 16px 0px;
        margin: 10px 20px;
    }
     .list-box {
        background: #fff;
        min-height: 300px;
        padding: 10px;
     }
     .module-title {
         font-weight: normal;
         color: $color-blue;
         font-size: 18px;
         margin-bottom: 16px;
         line-height: 40px;
         .el-col {
             &:first-child {
                 .el-breadcrumb__item__inner {
                     line-height: 30px;
                 }
             }
             &:nth-child(2) {
                 text-align: right;
                 .el-dropdown {
                     margin-left: 10px;
                 }
             }
         }
         .btn-group {
            .el-button {
                margin-right: 9px;
                &:last-of-type {
                    margin: 0;
                }
            }
         }
     }
 
     .el-tabs {
         margin: -20px -20px 0;
         .el-tabs__header {
             margin: 0;
         }
     }
 
     .pagination {
         text-align: right;
         padding-top: 20px;
     }
 
     .pswp {
         z-index: 4500;
     }
 
     td.clickable-td {
         .cell {
             @extend .clickable-text-blue;
             span {
                 @extend .clickable-text;
                 @extend .clickable-text-blue;
             }
         }
     }
 }
 .filter-box {
     margin: 10px 0 14px 0;
     > .el-input,
     > .el-select
    {
        margin-right: 14px;
        &:last-child {
            margin-right: 0;
        }
     }
 }
 .rule-field-popover {
     color: $text-color-base;
     line-height: 20px;
 }
 .second-page-wrap {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 7;
     box-sizing: border-box;
     padding: 0 0 0 160px;
     margin-top: 50px;
     background-color: $body-bg-color;
     overflow-x: auto;
     .wrap-content {
         min-width: 1045px;
         padding: 12px 20px;
     }
 }

.material-list {
    position: relative;
}
.pager {
    text-align: right;
    margin: 20px 0;
}