#sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 180px;
    height: 100%;
    background-color: $color-blue;
    .menu {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        /* scrollbar for chrome */
        &::-webkit-scrollbar {
            width: 0;
        }
        &:hover {
            // width: 155px;
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(255, 255, 255, 0.3);
                background-clip: content-box; // border-radius: 6px;
                border-right: 5px solid transparent;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
        }
    }
    li {
        display: block;
        height: 65px;
        padding: 0 15px;
        line-height: 65px;
        font-size: 18px;
        position: relative;
        color: #fff;
        cursor: pointer;
        transition: all, .5s;
        .svg-icon,
        span {
            display: inline-block;
            vertical-align: middle;
        }
        &:hover {
            background-color: #348BE5;
        }
        &.active {
            background-color: #348BE5;
            &:after {
                position: absolute;  
                right: 0;
                top: 50%;
                border: 7px solid transparent;  
                border-right-color:#fff;
                transform: translateY(-50%);
                content: '';  
                width: 0;  
                height: 0;  
            }
        }
    }
}