.slide-down-enter-active, .slide-down-leave-active {
	transition: all .3s ease;
  li {
    transition: all .1s ease;
  }
}
.slider-down-enter-active, .slide-down-leave{
	opacity: 1;
  li {
    opacity: 1;
    height: 44px;
  }
}
.slide-down-leave-active, .slide-down-enter {
	opacity: 0;
	// transform: translate3d(0, 20px, 0);
  li {
    opacity: 0;
    height: 0;
  }
}


.slide-right-enter-active, .slide-right-leave-active{
	transition: all .5s ease;
}

.slide-right-enter, .slide-right-leave-active {
	position: absolute;
	transform: translate3d(2000px, 0, 0);
	opacity: .3;
}
.slide-right-leave, .slide-right-enter-active {
	position: absolute;
	opacity: 1
}
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .2s ease;
}
.component-fade-enter, .component-fade-leave-active {
  opacity: 0;
}


.slide-fromright-enter-active, .slide-fromright-leave-active{
	transition: all .3s ease;
	position: absolute;
}

.slide-fromright-enter{
	position: absolute;
	transform: translate3d(100%, 0, 0);
	opacity: .3;
}
.slide-fromright-enter-active {
	opacity: 1
}
.slide-fromright-leave-active{
	opacity: 0
}


.slide-toright-enter-active, .slide-toright-leave-active{
	transition: all .3s ease;
	position: absolute;
  opacity: 1;
}
.slide-toright-enter {
	opacity: .3;
	transform: translate3d(0, 20px, 0);
}
.slide-toright-leave-active{
	transform: translate3d(100%, 0, 0);
}


@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {

  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}