.notice-item-dialog {
    .add-item-btn {
        color: $link-color;
        cursor: pointer;
        &:hover {
            color: $link-hover-color;
        }
    }
    .unit-item {  
        .el-form-text {
            margin-bottom: 0;
            .el-form-item__label {
                // float: left;
            }
            .el-form-item__content {
                overflow: hidden;
            }
        }
        margin-bottom: 20px;
        .icon {
            font-size: 20px;
            color: #99A9BF;
            cursor: pointer;
            margin-right: 5px;
            &:hover{
                color: #20A0FF;
            }
        }
    }
}