.breadcrumb-nav {
    > p {
        display: inline-block;
        line-height: 40px;
        & + p {
            margin-left: 5px;
        }
    }
    .svg-icon {
        vertical-align: middle;
    }
}