.equipment-status-list {
    .el-dialog__body {
        color: $color-gray;
    }
   
    th {
        font-size: 16px;
        color: $color-gray-dark;
        font-weight: normal;
    }
    .remark {
        @extend %text-overflow;
    }
    .status-item {
        margin: 20px 0;
    }
    .el-form {
        margin-top: 10px;
    }
}

.equipment-guide {
    font-size: 18px;
    color: #999;
    text-align: center;
    position: absolute;
    @extend %center;
}

.add-btn-link {
    color: $color-blue;
    display: inline-block;
    margin: 30px 0;
    cursor: pointer;
    > span {
        font-size: 24px;
        margin-right: 9px;
        display: inline-block;
        vertical-align: middle;
    }
    > i {
        font-style: normal;
        line-height: 20px;
        vertical-align: middle;
        display: inline-block;
    }
    &:hover {
        color: $color-blue-light;
    }
}

.status-time-line {
    margin-left: 150px;
    .caption {
        li {
            display: inline-block;
            margin-bottom: 20px;
            font-size: 16px;
            color: $color-gray-dark;
            font-weight: bold;
            position: relative;
            &:first-of-type {
                left: -73px;
            }
        }
    }
    
    .time {
        position: absolute;
        left: -93px;
        line-height: 1.5;
        color: $color-gray;
    }
    .status-str {
        color: #666666;
        font-weight: bold;
    }
    .content {
        color: $color-gray-light;
        line-height: 1.2;
        margin-top: 10px;
        pre {
            margin: 0;
        }
    }
    .ivu-timeline-item-content {
        padding-left: 30px;
    }
}