
@import 'src/assets/scss/common/vendor.scss';


.login-form {
	text-align: center;
	> button {
		width: 95%;
		margin: 20px auto;
	}
	.mobile-field {
		.mint-cell-title {
			width: 70px;
		}
		.mint-cell-text {
			color: $gray-999;
		}
	}
}
.app {
	padding: 0 10px;
	.mint-cell-wrapper {
		background-image: none;
	}
	.mint-field-core {
		background:#f5f5f5;
		border: 1px solid #ebf1fa;
		height: 50px;
		border-radius: 4px;
		margin-bottom: 10px;
		padding: 0 10px;
		&:focus {
			background:#f5f5f5;
			border:1px solid #5a9ae4;
			box-shadow:0 0 6px 0 rgba(73,143,225,0.41);
		}
	}
	.profile {
		@include clearfix;
		.name {
			font-size: 20px;
			margin: 2px 0 5px 0;
		}
		margin: 50px;
		img {
			border-radius: 5px;
			float: left;
			margin-right: 10px;
		}
	}
	.notice {
		color: $gray-999;
		margin: 50px 50px 30px 50px;
		p {
			margin-bottom: 10px;
		}
		li {
			list-style: none;
		}
	}
}