
@import 'src/assets/scss/common/vendor.scss';


.login-form {
	text-align: center;
	.mobile-field {
		.mint-cell-title {
			width: 70px;
		}
		.mint-cell-text {
			color: $gray-999;
		}
	}
}
.footer {
	margin-top: 24px;
	background: #F2F2F2;
	text-align: center;
	.btn-submit {
		width: 90%;
		margin: 20px auto;
	}
}
.gender-wrap {
	text-align: left;
	input {
		zoom: 2;
		vertical-align: middle;
	}
	label {
		vertical-align: middle;
		margin-right: 28px;
	}
}
.fields {
	padding: 0 55px;
	.mint-cell-wrapper {
		background-image: none;
		padding: 0;
	}
	.mint-field-core {
		background:#f5f5f5;
		border: 1px solid #ebf1fa;
		height: 50px;
		border-radius: 4px;
		margin-bottom: 10px;
		padding: 0 10px;
		&:focus {
			background:#f5f5f5;
			border:1px solid #5a9ae4;
			box-shadow:0 0 6px 0 rgba(73,143,225,0.41);
		}
	}
	.profile {
		@include clearfix;
		margin: 40px 0 0 0;
		.name {
			font-size: 20px;
			margin: 2px 0 5px 0;
		}
		img {
			border-radius: 5px;
			float: left;
			margin-right: 10px;
		}
	}
	.notice {
		color: $gray-999;
		margin: 36px 50px 30px 0;
		p {
			margin-bottom: 10px;
		}
		li {
			list-style: none;
		}
	}
}