@import 'src/assets/scss/common/vendor.scss';
@import 'src/assets/scss/extends.scss';
@import 'src/assets/scss/global.scss';
@import 'src/assets/scss/components/timeline.scss';

.center {
    .profile {
        text-align: center;
        position: relative;
        .banner {
            background: url('../../assets/img/center-bg.png') no-repeat;
            background-size: 100% 100%;
            height: 125px;
        }
        .info {
            position: absolute;
            top: 1;
            width: 100%;
            z-index: 111;
            text-align: center;
            .img {
                width: 189px;
                height: 189px;
                border-radius: 50%;
                margin-top: 25px;
            }
            .name {
                font-size: 30px;
                color: #171616;
                position: relative;
                .svg-icon {
                    vertical-align: baseline;
                    margin: 0 0 -1px  10px;
                    display: inline-block;
                }
                top: -44px;
            }
            .upload-btn {
                background: #FFFFFF;
                position: relative;
                top: -45px;
                left: 59px;
                border: 1px solid rgba(0,0,0,0.10);
                border-radius: 22.5px;
                width: 45px;
                margin: 0 auto;
                height: 45px;
                overflow: hidden;
                line-height: 52px;
                input {
                    position: absolute;
                    opacity: 1;
                    right: 0;
                    zoom: 20;
                }
            }
            .svg-icon {
                color: #6BC0B8;
            }
        }
    }
}
.my-menu {
    margin-top: 200px;
    .svg-icon {
        vertical-align: middle;
    }
    .mint-cell-text {
        font-size: 17px;
        color: #1F2D3D;
        margin-left: 5px;
    }
}


.login-form {
	text-align: center;
	.mobile-field {
		.mint-cell-title {
			width: 70px;
		}
		.mint-cell-text {
			color: $gray-999;
		}
	}
}
.footer {
	margin-top: 24px;
	text-align: center;
	.btn-submit {
		width: 90%;
		margin: 15px auto;
	}
}
.gender-wrap {
	text-align: left;
	label {
		input {
			-webkit-appearance: none;
			border: 1px solid $m-brand;
			display: inline-block;
			position: relative;
			width: 22px;
			height: 22px;
			box-sizing: border-box;
			transform: scale(0.8);
			border-radius: 50%;
			vertical-align: middle;
			&:checked {
				background: transparent;
				&:after {
					content: ' ';
					position: absolute;
					width: 12px;
					height: 12px;
					border-radius: 50px;
					top: 4px;
					left: 4px;
					background: $m-brand;
				}
			}

		}
		
		// &:after {
		// 	width: 24px;
		// 	height: 24px;
		// 	left: 4px;
		// 	top: 4px;
		// }
		input:checked {

		}
		
	}
	input {
		zoom: 1.5;
		-webkit-appearance: none;
		display: block;
		&:checked {
			background: $brand;
		}
	}
	label {
		vertical-align: middle;
		margin-right: 28px;
	}
}
.fields {
	padding: 0 40px;
	.mint-cell-wrapper {
		background-image: none;
		padding: 0;
	}
	.mint-field-core {
		background:#f5f5f5;
		border: 1px solid #ebf1fa;
		height: 50px;
		border-radius: 4px;
		margin-bottom: 10px;
		padding: 0 10px;
		&:focus {
			background:#f5f5f5;
			border:1px solid #5a9ae4;
			box-shadow:0 0 6px 0 rgba(73,143,225,0.41);
		}
	}
	.profile {
		@include clearfix;
		margin: 40px 0 0 0;
		.name {
			font-size: 20px;
			margin: 2px 0 5px 0;
		}
		img {
			border-radius: 5px;
			float: left;
			margin-right: 10px;
		}
	}
	.notice {
		color: $gray-999;
		margin: 36px 50px 30px 0;
		p {
			margin-bottom: 10px;
		}
		li {
			list-style: none;
		}
	}
}

.age-field {
	@extend %clearfix;
	> div {
		font-size: 12px;
		color: #8492A6;
		border-bottom: 1px solid #E0E6ED;
		margin: 30px 25%;
		position: relative;
		text-align: center;
		> span {
			position: absolute;
			background: #fff;
			padding: 0 3px;
			bottom: -8px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	li {
		background: #C0CCDA;
		border-radius: 4px;
		width: 60px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin: 0 15px 15px 0;
		font-size: 16px;
		color: #FFFFFF;
		float: left;
		&:nth-of-type(4n){
			margin-right: 0;
		}
		&.active {
			background: #6BC0B8;
		}
	}
}

.loving {
	background: #F5F5F5;
	min-height: 100%;
	.select {
		padding-top: 20px;
		.mint-cell {
			min-height: 68px;
			.mint-cell-label {
				margin-top: 10px;
				font-size: 14px;
			}
			.mint-cell-text {
				font-size: 17px;
			}
		}
	}
	&.select-item {
		.select {
			.mint-cell {
				min-height: 50px;
			}
		}
	}
	.timeline {
		background: #fff;
		padding: 20px 27px 0 27px;
		margin-top: 20px;
		.time {
			color: #8492A6;
		}
		.content {
			font-size: 17px;
			color: #1F2D3D;
			letter-spacing: 0;
			line-height: 24px;
		}
	}
}